<div class="input-container">
  <label>{{ label }}</label>
  <input
    type="text"
    [formControl]="formControl"
    (input)="onChange($event)"
    (focus)="showCalendar = true"
  />
  <!-- (blur)="showCalendar = false" -->
  <button class="calendar-button" (click)="openCalendar()">
    <i class="fa fa-calendar-days"></i>
  </button>
  @if (showCalendar) {
  <app-calendar-table
    [showWeeks]="true"
    [firstDayOfWeek]="1"
    [inputDate]="formControl.value"
    [setDate]="inputDate$?.asObservable()"
    (dateSelected)="setDate($event)"
    [emptyDateBehavior]="'year'"
    [showBar]="true"
  ></app-calendar-table>

  }
  <!-- [value]="value" [id]="fieldName" [name]="fieldName" -->
</div>
