.err {
  outline: #ff0000 solid 1px;
  outline-offset: -2px;
}
.calendar-container {
  margin: auto;
  position: relative;
  z-index: 1;
  top: 0px;

  left: 0px;
  right: 0px;
  border: 1px solid black;
  border-radius: 3px;
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-show {
  grid-template-columns: repeat(8, 1fr);
}

.month-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.month-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  color: rgba(184, 222, 210, 0.5);
  text-align: center;
  align-content: center;
  font-size: 90%;
}
.month-number {
  color: rgba(184, 222, 210, 0.5);
  text-align: center;
  align-content: center;
}

.month-name {
  color: rgba(184, 222, 210, 0.5);
  text-align: center;
  align-content: center;
  font-size: small;
}

.month-item:hover {
  background-color: #777;
}

.year-select {
  display: flex;
  flex-direction: column;
}

.year-select .year-item {
  text-align: center;
  color: lightgray;
  padding: 3px;
  font-weight: 700;
}

.year-range-change {
  background-color: rgba(200, 128, 200, 0.5);
}

.year-item:hover {
  background-color: #777;
}
.week-number {
  color: yellowgreen;
  text-align: center;
  align-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: smaller;
}
.day {
  color: lightgrey;
  text-align: center;
  align-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selected {
  background-color: rgba(200, 128, 200, 0.5);
}
.disabled {
  color: #777;
}
.today {
  outline: #ff0000aa solid 2px;
  outline-offset: -2px;
}
.holiday {
  color: darkorange;
}

.day:hover {
  background-color: rgba(128, 128, 200, 0.5);
}
.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.month .mth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eee;
  font-weight: bold;
  margin: auto;
  width: 100%;
}
.month .mth * {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.month .mth :hover {
  color: #aaa;
}

.month .arrows {
  cursor: pointer;
  background-color: rgba($color: #101010, $alpha: 0.5);
  color: #eee;
  text-align: center;
  align-content: center;
  border-radius: 3px;
  border: 1px solid #777;
  font-weight: bolder;
  padding: 5px 10px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}
.bar .btn {
  margin: 0.25rem 0.5rem;
  padding: 0.25rem;
}
