//VARIABLES
//COLORS
$background-container-color: rgba(30, 30, 30, 0.9);
$color-container-border: #000;
$color-item: rgba(184, 222, 210, 0.5);
$calendar-item-hover-color: rgba(200, 168, 128, 0.644);
$color-disabled: #777;
$color-holiday: darkorange;
$color-items-normal: #eee;
$background-button-color: lighten($background-container-color, 20%);
$color-outline-today: #ff0000aa;
$color-error-outline: #ff0000;
$color-week-number: yellowgreen;

//SETTINGS
$border-elements: 1px solid $color-items-normal;

@mixin center-items {
  text-align: center;
  align-content: center;
}

//SCSS
.err {
  outline: $color-error-outline solid 1px;
  outline-offset: -2px;
}
.calendar-container {
  margin: auto;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  // right: 0px;
  border: 1px solid $color-container-border;
  border-radius: 3px;
  min-height: 80px;
  background-color: $background-container-color;
}
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-show {
  grid-template-columns: repeat(8, 1fr);
}

.month-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.month-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  color: $color-item;
  @include center-items();
  font-size: 90%;
  &:hover {
    background-color: $calendar-item-hover-color;
  }
}
.month-number {
  //color: rgba(184, 222, 210, 0.5);
  @include center-items();
}

.month-name {
  //color: rgba(184, 222, 210, 0.5);
  @include center-items();
  font-size: small;
}

.year-select {
  display: flex;
  flex-direction: column;
}

.year-select .year-item {
  text-align: center;
  color: $color-items-normal;
  padding: 3px;
  font-weight: 700;
}

.year-range-change {
  background-color: $background-button-color;
}

.year-item:hover {
  background-color: $calendar-item-hover-color;
}
.week-number {
  color: $color-week-number;
  @include center-items();
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: smaller;
}
.day {
  color: $color-items-normal;
  @include center-items();
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover {
    background-color: $calendar-item-hover-color;
  }
}

.selected {
  background-color: $background-button-color;
}
.disabled {
  color: $color-disabled;
  &:hover {
    color: darken($color-disabled, 20%);
  }
}

.today {
  outline: $color-outline-today solid 2px;
  outline-offset: -2px;
}
.holiday {
  color: $color-holiday;
  &:hover {
    color: lighten($color-holiday, 20%);
  }
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border-elements;
}

.month .mth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  color: $color-items-normal;
  font-weight: bold;
  width: 100%;

  & > * {
    justify-content: center;
    text-align: center;
    &:hover {
      color: darken($color-items-normal, 20%);
    }
  }
}
.month .arrows {
  cursor: pointer;
  //background-color: $background-button-color;
  color: $color-items-normal;
  @include center-items();
  // border-radius: 3px;
  // border: 1px solid $color-container-border;
  font-weight: bolder;
  padding: 5px 10px;
  &:hover {
    background-color: $background-button-color;
    color: darken($color-items-normal, 20%);
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: $border-elements;
}
.bar .btn {
  cursor: pointer;
  //background-color: $background-button-color;
  color: $color-items-normal;
  @include center-items();
  border-radius: 3px;
  border-bottom: 1px solid $color-container-border;
  padding: 5px 10px;
  margin: 0.25rem 0.8rem;
  &:hover {
    color: darken($color-items-normal, 20%);
    background-color: $background-button-color;
  }
}
